<div class="sections-separator sections-separator--bottom sections-separator--trans-to-gray">
    <div class="sections-separator--trans-to-gray__first-ribbon"></div>
    <div class="sections-separator--trans-to-gray__second-ribbon"></div>
    <div class="sections-separator--trans-to-gray__gray"></div>
</div>