* {
  font-family: "Lato", sans-serif;
}

html {
  font-size: 16px;
}
@media (max-width: 767px) {
  html {
    font-size: 12px;
  }
}

h1, h2, h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 4rem;
}
@media (max-width: 359px) {
  h1 {
    font-size: 3rem;
  }
}
h1, h1 > span {
  color: #fafafa;
  font-weight: 400;
  text-align: center;
}
h1 > span {
  font-family: "Montserrat", sans-serif;
  display: block;
  font-size: 2rem;
}
@media (max-width: 359px) {
  h1 > span {
    font-size: 1.5rem;
  }
}

h2 {
  font-size: 3rem;
  color: #1d4c6b;
  text-align: center;
  margin-bottom: 10px;
}

p, ul, li {
  color: #222222;
  font-size: 1.2rem;
  margin-top: 0;
}

h3 {
  font-size: 2rem;
}

.container {
  max-width: 1600px;
  padding: 15px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.teal-section {
  background-color: #1d4c6b;
}

.hero {
  height: 600px;
  position: relative;
}
.hero__color {
  height: 100%;
  background-color: #1d4c6b;
  position: "relative";
  z-index: 0;
}
.hero__image {
  height: 100%;
  background-image: url("../images/hero.jpg");
  background-position: 50% 100%;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.1;
  position: "relative";
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.hero__content {
  position: "relative";
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 150px);
}
.hero__content__logo {
  position: absolute;
  top: 15px;
  left: 15px;
}

.skills__skillset {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 100px;
}
.skills__skillset__list {
  flex-basis: calc(50% - 30px);
  background-color: #fafafa;
  padding: 25px 45px 65px;
  box-sizing: border-box;
}
.skills__skillset__list--left {
  -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
}
.skills__skillset__list--right {
  -webkit-clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);
  clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);
}
.skills__skillset__list__entries {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}
.skills__skillset__list__entries__entry {
  margin-bottom: 15px;
}
.skills__skillset__list__entries__entry__proficiency {
  font-weight: 700;
  color: #1d4c6b;
}
.skills h3 {
  color: #1d4c6b;
  border-bottom: 1px solid #1d4c6b;
  padding-bottom: 25px;
}
.skills h3 i.fas {
  font-size: 42px;
  margin-right: 15px;
}
.skills__footnote {
  margin-top: 100px;
}

.sections-separator {
  height: 200px;
}
.sections-separator--bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
.sections-separator--trans-to-gray__first-ribbon, .sections-separator--trans-to-gray__second-ribbon, .sections-separator--trans-to-gray__gray {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f2f2f2;
}
.sections-separator--trans-to-gray__first-ribbon, .sections-separator--trans-to-gray__second-ribbon {
  opacity: 0.4;
}
.sections-separator--trans-to-gray__first-ribbon {
  height: 180px;
  z-index: 12;
  -webkit-clip-path: polygon(0 0, 100% 100%, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 100%, 100% 100%, 0% 100%);
}
.sections-separator--trans-to-gray__second-ribbon {
  height: 180px;
  z-index: 12;
  -webkit-clip-path: polygon(0 100%, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0 100%, 100% 0, 100% 100%, 0% 100%);
}
.sections-separator--trans-to-gray__gray {
  height: 140px;
  z-index: 15;
  -webkit-clip-path: polygon(50% 64%, 100% 0, 100% 100%, 0 100%, 0 0);
  clip-path: polygon(50% 64%, 100% 0, 100% 100%, 0 100%, 0 0);
}

body {
  background-color: #f2f2f2;
  padding: 15px;
  margin: 0;
  padding-bottom: 300px;
}

/*# sourceMappingURL=styles.css.map */
